@charset "UTF-8";

body{
    font: 18px Arial;
}

button{
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px;
    background-color: black;
    box-shadow: 2px 3px 3px white ;
    color:beige
}

button:hover{
    background-color: rgb(80, 93, 93);
    transition: 0.5s;
}
